<div class="details" *ngIf="pokemon$ | async as pokemon">
    <button class="details__btn" type="button" (click)="goBack()">Back to List Page</button>
    <div class="details__image">
        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" alt="">
        <h3>{{pokemon.name}}</h3>
        <ul>
            <li>Height: {{pokemon.height}}</li>
            <li>Weight: {{pokemon.weight}}</li>
            <li>Experience: {{pokemon.base_experience}}</li>
        </ul>
    </div>
    <div class="details__data">
        <div class="details__stats">
            <h3>Abilities</h3>
            <ul class="stats">
                <li *ngFor="let ability of pokemon.abilities">
                    ability {{ability.ability.name}}
                </li>
            </ul>
        </div>
        <div class="details__stats">
            <h3>Types</h3>
            <ul class="stats">
                <li *ngFor="let type of pokemon.types">
                    {{type.type.name}}
                </li>
            </ul>
        </div>
        <div class="details__stats">
            <h3>Stats</h3>
            <ul class="stats">
                <li *ngFor="let stat of pokemon.stats">
                    <span>{{stat.stat.name}}: {{stat.base_stat}}</span>
                    <span>effort: {{stat.effort}}</span>
                </li>
            </ul>
        </div>

        <div class="details__stats">
            <h3>Moves</h3>
            <ul class="stats">
                <li *ngFor="let move of pokemon.moves">
                    {{move.move.name}}
                </li>
            </ul>
        </div>
    </div>

</div>
